.admin-top-menu {
  position: absolute !important;
  padding: 0;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

  .admin-top-menu-header {
    padding: 1rem;
    font-weight: bold;
  }
  .admin-top-menu-body-notification {
    height: 300px;
    overflow-y: auto;
  }
  .admin-top-menu-footer {
    a {
      display: block;

      padding: .5rem;
      text-align: center;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}
.admin-top-menu-list {
  border: solid 1px rgba($color: #000000, $alpha: .09);
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-width: 250px;
  li {
    padding: 0;

    a {
      display: block;
      line-height: $line-height-base;
      padding: .5rem 1rem;
      color: #333333;
      border-bottom: solid 1px rgba($color: #000000, $alpha: .09);

      &:hover {
        text-decoration: none;
        background-color: $primary;
        color: #ffffff;
      }
    }
  }
}
.admin-navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  a {
    color: #333333;
  }
}
.admin-notification-menu {
  position: relative;
  .badge {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: #ffffff 2px solid;
  }
  &:after {
    display: none;
  }
}
.admin-notification-menu-component {
  width: 300px;
  right: -60px;
}

.admin-notification-item{
  .media {
    padding: 1rem;
    margin: 0 !important;
    text-decoration: none;
    border-top: solid 1px rgba(0, 0, 0, 0.075);
    &:last-child {
      border-bottom: solid 1px rgba(0, 0, 0, 0.075);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}

.tracking-item {
  border-left:1px solid #e5e5e5;
  position:relative;
  padding:0 1rem .5em 2.5rem;
  font-size:.9rem;
  margin-left:3rem;
  min-height:5rem
 }
 .tracking-item .tracking-content {
  padding:.5rem .8rem;
  background-color:#f4f4f4;
  border-radius:.5rem
 }
 .tracking-item .tracking-content span {
  display:block;
  color:#888;
  font-size:85%
 }
 .tracking-item .tracking-icon {
  line-height:2.6rem;
  position:absolute;
  left:-1.3rem;
  width:2.6rem;
  height:2.6rem;
  text-align:center;
  border-radius:50%;
  font-size:1.1rem;
  background-color:#fff;
  color:#fff
 }
 .tracking-item .tracking-icon {
  background-color: $primary;
 }

 .admin-notification-link {
  text-decoration: none;
   &:hover {
    text-decoration: none;
   }
 }

 .dropdown-toggle:after {
   display: none;
 }

 @media(min-width:992px) {

  .tracking-item .tracking-content {
   padding:0;
   background-color:transparent
  }
 }


.admin-substr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.admin-container {
    position: relative;
  .admin-sidebar {
    z-index: 1040;
    width: 250px;
    background-color: #ffffff;
    display: block;
    margin-right: 1rem;
    border-right: solid 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    padding: 1rem;
    position: absolute;
    top: 0;
    min-height: 100%;

    > ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      padding-top: 1rem;

      li {
        padding: 0;
        a {
          color: #333333;
          text-decoration: none;
          display: block;
          line-height: 25px;
          padding:.5rem;
          font-size: 16px;

          i {
            width: 35px;
          }
          svg {
            width: 20px;
            height: auto;
          }

          &:hover {
            color: $primary;

            svg {
              color: $primary;
              path {
                stroke: $primary;
              }
            }
          }

          .caret {
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;
            border-left: 4px solid;
            display: inline-block;
            height: 0;
            opacity: 0.3;
            vertical-align: top;
            width: 0;
          }

        }

        &.active {
          color: $primary;
          > a {
            color: $primary;

            svg {
              color: $primary;
              path {
                stroke: $primary;
              }
            }

            i {
              color: $primary;
            }
          }

          > ul {
            display: block;
          }

          > a > .caret {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
          }
        }

        &.show{
          > ul {
            display: block;
          }

          > a > .caret {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
          }
        }

        // Sub Menu
        ul {
          margin-left: .5rem;
          display: none;
          li {
            a {
              color: #888888;
              text-decoration: none;
              display: block;
              line-height: 25px;
              padding:.3rem;
            }
          }
        }
      }
    }
  }
  .admin-content {
    padding: .5rem 1rem;
    padding-left: 260px;
    padding-bottom: 3rem;
    display: inline-block;
    width: 100%;
    min-height: 926px;
    .admin-page-title {
      margin-bottom: 1rem;
      .breadcrumb-container {
        text-align: right;
        .breadcrumb {
          background: none !important;
          margin: 0;
          display: inline-flex;
          font-size: 80%;
        }
      }
      h4 {
        margin: 0;
        padding-top: .8rem;
      }
    }
  }

  .admin-footer {
    width: 100%;
    padding-left: 260px !important;
  }

  &.admin-container-full {
    .admin-sidebar {
      display: none !important;
    }
    .admin-content {
      padding-left: 0 !important;
    }
    .admin-footer{
      padding-left: 1rem !important;
    }
  }
}

.is-invalid {
  border-color: $red !important;
}
.dt-bootstrap4 {
  .row {
    &:first-child {
      padding: 1rem !important;
    }
    &:last-child {
      padding: 1rem !important;
    }
  }
}

.table-responsive {
  .top-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
  }
}

.list-permissions{
  list-style-type: none;
  ul {
    list-style-type: none;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    width: 250px;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .admin-container {
    .admin-content {
      padding-left: 0 !important;
    }
    .admin-footer{
      padding-left: .5rem !important;
      text-align: center;
      font-weight: 80%;
    }
  }

  .breadcrumb-container {
    display: none;

  }

  .admin-greating {
    display: none;
  }
}

@media (max-width: 767px) {
  #DataTables_Table_0_filter {
    text-align: right;
  }
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}

.btn-primary {
  color: white;
}

#toast-container > .toast-success {
  background-image: none !important;
  padding: 1rem;
}

table.admin-datatables {
  tbody {
    tr {
      td {
        padding-top: 1px;
        padding-bottom: 1px;
        vertical-align: middle;
      }
    }
  }
}

.form-group-custom {
  input,
  select {
    border: none;
    &:focus,
    &:hover{
      box-shadow: none;
      border: none;
    }
  }
}

.admin-form-group {
  .form-control {
    border: none;
    &:focus,
    &:hover{
      box-shadow: none;
      border: none;
    }
  }
}

.admin-pagination {
  nav {
    display: inline-block !important;
  }
}